@model BookShelf.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <div col-md-8>
        <h1>   @Html.DisplayFor(model => model.Category.Name)  </h1>
        <h3>  @Html.DisplayNameFor(model => model.Title) :  @Html.DisplayFor(model => model.Title)</h3>
        <p> @Html.DisplayNameFor(model => model.Publisheddate) :  @Html.DisplayFor(model => model.Description) </p>
        <p>  @Html.DisplayNameFor(model => model.Publisheddate) : @Html.DisplayFor(model => model.Publisheddate)  </p>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.BookID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>




